# source database config
src:
  hosts: "{{ src_db_host }}:{{ db_port }}" # hostportstr of a member of replica set
  authdb: "admin"
  username: "admin"
  password: "{{ src_db_password }}" # could be empty if no

# destination database config
dst:
  hosts: "{{ dst_db_host }}:{{ dst_db_port }}" # hostportstr of standalone, mongos or a member of replica set
  authdb: "admin"
  username: "{{ dst_db_username }}"
  password: "{{ dst_db_password }}" # could be empty if no

# Sync options
# Database to sync
dbs:
  - {{ db_name }}